.awards-page {
  min-height: 100vh;

  background: black;

  text-align: center;

  padding: 100px 8%;
}

.awards-page h1 {
  color: #c5d900;

  margin-bottom: 50px;
}

.award-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

  gap: 20px;
}

.award-card {
  background: #111;

  padding: 30px;

  border-radius: 20px;

  color: white;

  font-size: 1.2rem;
}

.award-card h3 {
  margin-top: 15px;
}